<!-- INTERNAL TABLE FOR LACP -->
<div id="accordion">
<div>
<h3>LACP</h3>
<div class="net_content">
{% if hostvars[network_switch]['ansible_network_resources']['lacp'] is defined and hostvars[network_switch]['ansible_network_resources']['lacp'].keys()|length > 0  %}
<table id="subtable">
    <thead>
        <tr>
            <th>System Priority</th>
        </tr>
    </thead>
    <tbody>
{% for property in hostvars[network_switch]['ansible_network_resources']['lacp'] %}
        <tr>
            <td>{% if property['system'] is defined %} }{{property['system']['priority']}}{% else %}LACP not configured {% endif %}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% elif hostvars[network_switch]['ansible_network_resources']['lacp'] is defined and hostvars[network_switch]['ansible_network_resources']['lacp'].keys()|length == 0 %}
LACP is not configured on this device
{% else %}
No LACP information available
{% endif %}
</div>
</div>
</div>
<!-- END INTERNAL TABLE FOR LACP -->