<!-- INTERNAL TABLE FOR lldp_interfaces -->
<div id="accordion">
<div>
<h3>LLDP Interfaces</h3>
<div class="net_content">
{% if hostvars[network_switch]['ansible_network_resources']['lldp_interfaces'] is defined and hostvars[network_switch]['ansible_network_resources']['lldp_interfaces'].keys()|length > 0 %}
<table id="subtable">
    <thead>
        <tr>
            <th>vlan_id</th>
            <th>Name</th>
            <th>state</th>
        </tr>
    </thead>
    <tbody>
{% for interface in hostvars[network_switch]['ansible_network_resources']['lldp_interfaces'] %}
        <tr>
            <td>{{interface['name']}}</td>
            <td>{{interface['receive']|default("Not Configured")}}</td>
            <td>{{interface['transmit']|default("Not Configured")}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% elif hostvars[network_switch]['ansible_network_resources']['lldp_interfaces'] is defined and hostvars[network_switch]['ansible_network_resources']['lldp_interfaces'].keys()|length == 0 %}
LLDP is not configured on this device
{% else %}
No LLDP information available
{% endif %}
</div>
</div>
</div>
<!-- END INTERNAL TABLE FOR lldp_interfaces -->